include swagger_coverage_metrics/swagger-coverage-commandline/bin/swagger-coverage-commandline
include swagger_coverage_metrics/swagger-coverage-commandline/bin/swagger-coverage-commandline.bat
include swagger_coverage_metrics/swagger-coverage-commandline/lib/*.jar